.navbar {
  padding: 10px;
  background-color: whitesmoke;
}

.footer {
  font-size: 1.3vw;
  padding: 10px;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.content {
  background-color: rgb(146, 235, 167);
  bottom: 0px;
}
