.header {
  padding: 40px;
  text-align: center;
  background: #31d6a5;
  color: white;
}

.header h1 {
  font-size: 60px;
  color: black;
}

.header p {
  font-size: 18px;
  color: black;
}

.content {
  background: #31d6a5;
}

.footer {
  font-size: 1.3vw;
  padding: 10px;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top: 2px solid darkblue;
  border-image: linear-gradient(to right, lightblue, white) 5;
}

.productsOnTheMarket {
  font-size: 50px;
}
