.navbar {
  padding: 10px;
  background-color: white;
}

.footer {
  font-size: 1.3vw;
  padding: 10px;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}

#message {
  color: white;
  text-align: center;
  background-color: black;
  padding: 10px;
}
