.title {
  text-align: center;
}

.slogan {
  text-align: center;
}

.grid {
  background-color: rgb(234, 248, 255);
}

.apto {
  font-size: 5rem;
}

.vitaminsFalling {
  margin: 30px;
}

.box1,
.box2 {
  padding: 50px;
  margin: 4rem;
}

.divide {
  background-color: rgb(50, 100, 53);
}

.test1 {
  background: #1b1c1d;
}
